/** style file*/
/**
we can remove !import if this file will be loaded last. 
*/
/* task 1 */
@media only screen and (min-width: 768px) {

	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width:30.80% !important; 
		float:left !important;
		clear:none !important;
		margin: 0 3.8% 2.992em 0 !important;
	}
	.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
		margin-right:0 !important;
	}

}

/** task 3 */

#lightBox {
	position:fixed;	
	z-index:999;
	top:0;
	
	width:100%;
	height:100%;
	
	background-color:rgba(0,0,0,0.7);
}
#lightBox #lightBoxWrap {
	position:relative;
	
	top:10%;
	padding:15px;
	margin:auto;
	width:70%;
	
	background-color:#fff;
	color:#000;
	
	border-radius:15px;
}
#lightBox #lightBoxWrap #lightBoxHead {
	text-align: right;
}
#lightBox #lightBoxWrap #lightBoxHead a i {
	color:black;
	font-size:20px;
}
#lightBox #lightBoxWrap #lightBoxContent p {
	padding:10px;
	text-align: center;
	font-size:20px;	
}

/** task 4 */
.header-cart-green i.fa-shopping-cart {
	color:green !important;
}
#btn-PayNow {
	position:fixed;
	z-index:998;
	left:20px;
	bottom:10px;	
	padding:5px 20px;
	border-radius: 5px;
	background-color:green;	
	color:white;	
}